@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000000;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    131deg,
    rgba(255, 104, 195, 1) 15%,
    rgba(255, 220, 89, 1) 100%
  );
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.line {
  width: 25px;
  height: 3px;
  background-color: var(--black-color);
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-bar {
  padding: 4px;
  letter-spacing: 3px;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white-color);
  position: relative;
  z-index: 2;
}

.left-nav {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}

.left-nav a {
  margin-right: 20px;
}

.center-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.center-nav ul li {
  padding: 15px;
  font-size: 18px;
}

.left-nav a i {
  margin-right: 5px;
  color: var(--black-color);
}

.herosection {
  background-image: url("images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.herosection-content {
  position: absolute;
  background-color: #ec71619d;
  width: 39%;
  height: auto;
  padding: 20px 40px;
  color: var(--white-color);
  margin-top: 130px;
  margin-left: 80px;
  letter-spacing: 0.8px;
}

.herosection-content h2 {
  font-size: 2.5em;
}

.herosection-content p {
  font-size: 17px;
}

h1 {
  margin: 75px;
  font-weight: 900;
  font-size: 2.8em;
  letter-spacing: 5px;
  text-align: center;
}

.allcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  text-align: center;
}
.card {
  background-color: var(--white-color);
  width: 250px;
  padding: 18px;
  border-radius: 0 50px 0 50px;
  height: 320px;
  margin: 0 10px;
}

.card img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 50px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order button {
  margin: 75px 0;
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-size: 1.2em;
  font-weight: 800;
  width: 180px;
  background-color: #ffcab8;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .center-nav ul {
    display: none;
  }

  .center-nav.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 0;
  }

  .center-nav.active ul li {
    opacity: 0;
    animation: fade-in 0.5s forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 600px) {
  .allcards {
    flex-wrap: no-wrap;
    gap: 30px;
  }

  .card {
    width: 100%;
  }
}
